.userNavBar{
    left: 16.666667%;
}

.menuItem{
    background-color: #ffffff/0;
    transition: background-color 0.5s;
    padding-left: 20px;
    padding-right: 20px;
}
.menuItem:hover{
    background-color: #ffffff;
}
.menuItem:active{
    border-left: 3px solid black;
}

.profileIcon{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 30px;
}
.profileIcon:hover{
    cursor: pointer;
    background-color: #d9d9d9;
}

.guideH2{
    font-weight: 500;
    font-size: 19px;
}

.guideH3{
    font-weight: 500;
    font-size: 17px;
}